body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #747474;
}

h1 {
    color: white;
    text-shadow: -1px 1px 0 #000,
                         1px 1px 0 #000,
                         1px -1px 0 #000,
                         -1px -1px 0 #000;
    font-size: 3em
}

#homepageBackground {
    height: 98%;
    width: 100%;
    opacity: 60%;
    z-index: 0;
    position: absolute
}

#headshot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#homepageContent h1 {
    display: inline;
    margin-left: 50px;
    font-size: 4em;
    position: absolute;
    color: rgb(255, 255, 255);
}

#biography {
    color: #444444;
    background: #FFFFFF;
    color: #444444;
    width: 650px;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
}

#homepageContent {
    position: relative;
    left: 100px;
    top: 100px;
}

/* navbar */

.navbar {
    background-color: #626262;
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.navbar li {
    float: left;
    margin-right: 100px;
}

.navbar li:last-child {
    margin-right: 0px;
}

.navbar li a {
    display: block;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    background-color: #4b4b4b
}

/* Projects */

#projects {
    margin-left: 25px;
    margin-top: 50px;
}

#projects h1,
#projects h2 {
    color: #FFFFFF;
}

#inventory {
    display: flex;
    align-items: center;
}

#inventory img {
    width: 60%;
    height: 60%;
    border-radius: 15px;
    display: inline-block;
    margin-right: 20px;
}

#inventory p {
    width: 300px;
    font-size: 1.5em;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

/* SKILLS */
#skills {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5cap;
}

.skill {
    width: 500px;
    border-color: black;
    border-style: solid;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: white;
}

.skill h1 {
    border-bottom: solid;
    padding-bottom: 5px;
}

.skillsHeader {
    position: relative;
    align-self: center;
}

#wrapper {
    justify-content: center;
    margin-left: 5%;
}

#resume {
    margin-right: 75px;
    display: inline-block;
}

#interests {
    display: inline-block;
    position: absolute;
}

#interests p {
    float: left;
    width: 400px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    padding: 15px
}

/* Community */

#community {
    margin-top: 5%;
}

#volunteerTitle {
    display: inline;
    position: relative;
    left: 10%;
    bottom: 200px;
    font-size: 4em;
}

.communityCard {
    background-color: white;
    width: 40%;
    padding-bottom: 10px;
}

.communityCard p {
    width: 100%;
    text-align: center;
}

.communityCard h1 {
    padding: 10px;
    text-align: center;
}

.communityCard img {
    width: 100%;
}

#concessions {
    margin-left: 5%;
    display: inline-block;
}

#bigevent {
    margin-left: 55%
}

